.intro_button{
    font-size: 2vh;
    width: 60%;

  }
  .content {
    font-size: 3vh;
  }
  .submit_btn {
    font-size: 2vh;
    padding: 10px 60%;
    align-self: center;
    white-space: nowrap;
  }
  .fa {
    font-size: 3vh;
    width: 3vh;
    height: 3vh;
    margin-right: 15px;
  }
  body{
    /* background-image: radial-gradient(#252425, #141414); */
    background-image: radial-gradient(#202020, black);
    overflow: hidden;
  }
  .burger_container{
    display: flex;
  }
  .hamburger{
      color:white;
      font-size: 4vh;
      position: fixed;
      left: 3%;
      bottom: 3%;

  }
  .nav_links{
      display: none;
  }
  .mobile_nav {
      display: none;
      flex-direction: column;
  }
  .mobile_span{
    display: block;
    width: 100%;
    font-size: 2em;
  }
  p {
    text-align: center;
  }
  .aboutP {
    text-align: left;
    font-size: 3rem;
  }