* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}
.navbar_items {
    display: flex;
    justify-content: space-around;
    width: 40%;
    
}
.logo {
    letter-spacing: 5px;
    font-size: 20px;
    margin-left: auto;
}