nav {
    align-items: center;
    min-height: 8vh;
    display: inline-block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
  li {
    display: inline-block;
  }
  li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.logo {
    display: inline-block;
    letter-spacing: 5px;
    font-size: 20px;
    /* margin-left: auto; */
}